
body{
    background-color: #D4D8E2;
    
}

nav{
    background-color: #243663;
    border-bottom: 1px solid black;
    color:white;
}

nav .titulo{
    padding-left: 2em;
}

.logo{
    width:8%;
    border-radius: 50%;
}

.conteudo{
    background-color: #243663;
    padding-top:1em;
    color:#D4D8E2;
    
}


.banner{
    background-image: url(../imagens/banner_sec.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color:#D4D8E2;
    padding:7em;
    
}

.secgif{
    width:5%;
}

.texto-inicial{
    width:30%;
    margin-left: 11em;
}

.bloco{
    width:90%;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 2em;
    margin-left: 5%;
}

.bloco-esquerdo{
    width:30%;
}

.bloco-direito{
    width:50%;
}

.bloco .imagem{
    width: 20%;
}

.texto-estudo{
    width: 40%;
    padding-top: 4em;
    padding-bottom: 4em;
}

.texto-estudo h3{
    padding-bottom: 1em;
}

.texto-estudo p{
    padding-bottom: 1em;
}



.linha{
    width:80%;
    margin-left: 10%;
    border-bottom: 1px solid #D4D8E2;
}

footer{
    background-color: black;
    color:white;
    padding:2em;
    text-align: center;
}
  