<!-- CyberJunin_back/views/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberJunin</title>
</head>
<body>
    <h1>Verificação de URL</h1>
    <form id="urlForm">
        <label for="url">Insira a URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Verificar</button>
    </form>
    <div id="result"></div>

    <script>
        document.getElementById('urlForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const url = document.getElementById('url').value;
            const response = await fetch('/api/virustotal/scan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ url: url })
            });
            const result = await response.json();
            document.getElementById('result').innerText = JSON.stringify(result, null, 2);
        });
    </script>
</body>
</html>
